In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_excel(r"C:\Users\user\OneDrive\Desktop\Gymapp\dataGym.xlsx")
data.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,Extremely obese,Extremely obese--normal exercise+yoga+heavy di...

In [4]:
data['Class'] = LabelEncoder().fit_transform(data['Class'])

In [5]:
data.head()

,Age,Height,weight,BMI,Class,Prediction
0,48,4.1,86,40,1,Extremely obese--normal exercise+yoga+heavy di...
1,53,4.1,91,42,1,Extremely obese--normal exercise+yoga+heavy di...
2,42,4.1,95,44,1,Extremely obese--normal exercise+yoga+heavy di...
3,48,4.1,100,46,1,Extremely obese--normal exercise+yoga+heavy di...
4,22,4.1,104,48,1,Extremely obese--normal exercise+yoga+heavy di...

In [6]:
data['Class'].unique()

array([1, 2, 3, 4, 5, 0])

In [7]:
X =data.iloc[:,:3]
X.head()

   Age  Height  weight
0   48     4.1      86
1   53     4.1      91
2   42     4.1      95
3   48     4.1     100
4   22     4.1     104

In [8]:
y = data.iloc[:,5:]
y.head()

                                          Prediction
0  Extremely obese--normal exercise+yoga+heavy di...
1  Extremely obese--normal exercise+yoga+heavy di...
2  Extremely obese--normal exercise+yoga+heavy di...
3  Extremely obese--normal exercise+yoga+heavy di...
4  Extremely obese--normal exercise+yoga+heavy di...

In [9]:
#splitting pf data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [10]:
X_test.head()

      Age  Height  weight
424    32     5.4     127
774    48     6.1     127
478    51     5.5      59
748    28     6.1      59
1053   28     6.7      91

In [11]:
y_test.head()

                                             Prediction
424   Extremely obese--normal exercise+yoga+heavy di...
774   Overweight--lean+cardio+protine+normal dite ->...
478                Healthy--fitness+protine+simple dite
748   Under weight--protines+carbs+normal weights ->...
1053               Healthy--fitness+protine+simple dite

In [12]:
model_GYM = RandomForestClassifier(n_estimators=20)
model_GYM.fit(X_train, y_train.values.ravel())

RandomForestClassifier(n_estimators=20)

In [13]:
# make predictions
expected = y_test
predicted = model_GYM.predict(X_test)

In [14]:
# summarize the fit of the model
#Correction
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

                                                                       precision    recall  f1-score   support

Extremely obese--normal exercise+yoga+heavy dite control+TIPS ->Obese       0.93      0.91      0.92        46
                                 Healthy--fitness+protine+simple dite       0.70      0.79      0.74        47
                      Obese--slow lean+protine+full dite ->Overweight       0.79      0.89      0.83        54
                Overweight--lean+cardio+protine+normal dite ->Healthy       0.80      0.65      0.72        43
                Under weight--protines+carbs+normal weights ->Healthy       0.90      0.83      0.86        46

                                                             accuracy                           0.82       236
                                                            macro avg       0.82      0.81      0.82       236
                                                         weighted avg       0.82      0.82      0.82       236

[[42  0  4  0  0]
 [ 0 37  2  4  4]
 [ 3  0 48  3  0]
 [ 0  8  7 28  0]
 [ 0  8  0  0 38]]